@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(circle,rgba(9, 0, 41, 1) 26%, rgba(8, 17, 77, 1) 73%, rgba(12, 27, 28, 1) 100%);
    --foreground: #ededed;
  }
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.nav-ul {
  display: flex;
  flex-direction: row;
}

.nav-li {
  color: #e2ebe6;
  cursor: pointer;
}

.nav-li:hover {
  color: '#008080';
}

li::marker {
  display: none;
}

.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}


/* Target the main container for the slides */
.slick-slider .slick-list {
  padding-top: 2rem !important; /* Add space at top for scaled-up card */
  padding-bottom: 2rem !important; /* Add space at bottom */
}

/* Style for all slides */
.slick-slide > div {
  transform: scale(0.75);
  transition: transform 0.4s ease-in-out;
  opacity: 0.5;
}

/* Style for the active, centered slide */
.slick-slide.slick-center > div {
  transform: scale(1);
  opacity: 1;
}

/* Make the centered card's links clickable */
.slick-slide:not(.slick-center) {
  pointer-events: none;
}