@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(circle,rgba(9, 0, 41, 1) 26%, rgba(8, 17, 77, 1) 73%, rgba(12, 27, 28, 1) 100%);
    --foreground: #ededed;
  }
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, "Poppins", sans-serif;
  overflow-x: hidden;
}


.nav-ul {
  display: flex;
  flex-direction: row;
}

.nav-li {
  color: #e2ebe6;
  cursor: pointer;
}

.nav-li:hover {
  color: '#008080';
}

li::marker {
  display: none;
}

